.banner {
    display: flex;
    top: 0px;
    width: 50%;
    height: 200px;
    border: 5px solid red;
    border-radius: 20px;
}

.banner_logo {
    position: fixed;
    top: 20px;
    width: 5%;
    object-fit: contain;
    padding-left: 20px;
}

.banner_title {
    font-size: 50px;
    position: fixed;
    left: 150px;
    top: 30px;
    border: 5px solid blue;
}