.Exhibit {
    float: left;
    margin: 20px;
    padding: 0px 20px 0px 20px;
    text-align: center;
    border: 5px solid blue;
    border-radius: 30px;
}

.ExhibitHeading {
    font-weight: bold;
    font-size: 30px;
}

.ExhibitContent {
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #002933;
    border: 5px solid blue;
    border-radius: 40px;
}
